/*#region ---------- ----------* MY CONFIG *---------- ---------- ----- */
html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --texColor: #111;
    --bgColor: hsl(0, 0%, 92%);
    --rxxBgColor: hsl(0, 0%, 92%);
    --hgbColor: hsl(345, 100%, 50%);
    --kgColor: hsl(30, 100%, 42%);
    /* ert */
    --ertColor: hsl(210, 100%, 50%);
    --ertSliderColor: hsl(210, 100%, 65%);
    --ertBgColor: hsl(210, 100%, 85%);
    /* drb */
    --drbColor: hsl(280, 100%, 50%);
    --drbSliderColor: hsl(280, 100%, 65%);
    --drbBgColor: hsl(280, 100%, 85%);
    /* fer */
    --ferColor: hsl(90, 95%, 30%);
    --defaultSliderColor: hsl(60, 100%, 45%);
    --rxxSliderColor: hsl(91, 100%, 45%);
    background-color: var(--bgColor);
}
body {
    min-height: 100dvh;
    margin: auto;
}
nav,
footer,
main,
article,
section,
div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
div {
    width: unset;
}

input {
    background-color: hsl(0, 0%, 98%);
}
/* *For Development */
/*#endregion ---------------------* MY CONFIG *--------------------------- */
/*#region ---------------------* MAIN *--------------------------- */
main {
    max-width: 1000px;
    position: relative;
    justify-content: flex-start;
    margin: auto;
}
nav {
    border-bottom: 1px solid #666;
}
.switchCont {
    width: min(100%, 720px);
}
input:checked + .slider {
    background-color: var(--defaultSliderColor);
}
input:checked.rxx + .slider {
    background-color: var(--rxxSliderColor);
}
.boxGroup, .boxGroup {
    padding: 1rem 0rem;
    max-width: 720px;
    row-gap: 0.25rem;
    &.rxx {
        &::before  {
            margin-bottom: 1rem;
            content: "";
            width: 90%;
            height: 4px;
            background-color: var(--rxxSliderColor);
        }
    }

}
.caps {
    text-transform: capitalize;
}
.box {
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    & .titleWrap {
        width: 6.25rem;
        align-items: start;
        & p {
            text-align: left;
            width: 100%;
        }
    }
    & .numberWrap {
        width: 6rem;
        align-items: start;
        & input {
            height: 1.6rem;
            width: 100%;
        }
    }
    & .dateWrap {
        align-items: start;
        & input {
            height: 2rem;
            width: 7rem;
        }
    }
    & .rangeWrap {
        width: 80%;
        max-width: 400px;
        & input {
            width: 90%;
        }
    }
}
.dates {
    justify-content: space-evenly;
    flex-flow: row wrap;
    row-gap: 0.25rem;
    width: 100%;
}
.dateBox {
    width: unset;
}
.write.rxx, .boxGroup2.rxx {
    background-color: var(--rxxBgColor);
}
.write {
    width: min(98%, 800px);
    & section {
        display: block;
    }
    & p {
        /* all: unset !important; */
        padding: 1rem;
        text-align: left;
        color: var(--texColor);
        margin: 0.5rem 0;
    }
    .ptext {
        span& {
            font-weight: 600;
            vertical-align: top;
            /* all: unset !important; */
        }
        .fer& {
            width: 2rem;
        }
        .hgb& {
            width: 2rem;
        }
        .ferDate& {
            width: 5rem;
        }
        .hgbDate& {
            width: 5rem;
        }
        .kg& {
            width: 2.5rem;
        }
        &.drbPk, &.ertPk {
            width: 1.5rem;
        }
    }
}
/* ----- ---------- ----------* colors *---------- ---------- ----- */
.hgb, .hgbDate {
    color: var(--hgbColor);
    accent-color: var(--hgbColor);
}
.kg {
    color: var(--kgColor);
    accent-color: var(--kgColor);
}
.ert, .ertPk {
    color: var(--ertColor);
    accent-color: var(--ertColor);
    .write & {
        background-color: var(--ertBgColor);
    }
}
.ertVisible:checked + .slider {
    background-color: var(--ertSliderColor);
}
.drb, .drbPk {
    color: var(--drbColor);
    accent-color: var(--drbColor);
    .write & {
        background-color: var(--drbBgColor);
    }
}
.drbVisible:checked + .slider {
    background-color: var(--drbSliderColor);
}
.fer, .ferDate {
    color: var(--ferColor);
    accent-color: var(--ferColor);
}
.rxx {
    /* background-color: hsla(120, 100%, 50%, 10%) !important; */
}
/*#endregion ---------------------* MAIN *--------------------------- */
/*#region ---------------------* MEDIA *--------------------------- */
@media screen and (width > 720px) {
    html {}
    main {
        pad: 0 0rem;
    }
}
@media screen and (width > 1000px) {
    html {}
    main {}
}
@media screen and (width > 1200px) {
    html {
        /* font-size: 18px; */
    }
    main {}
}
@media screen and (width > 1600px) {
    html {}
    main {}
}
/*#endregion ---------------------* MEDIA *--------------------------- */
/* -------------------------------------------------------------------------- */
/*#region ---------------------* UTILS *--------------------------- */
.hiddenF, .labelInput label, .ertPk.box, .drbPk.box {
    display: none !important;
}
.hidden {
    display: none;
}
.row {
    flex-direction: row;
}
/*#endregion ---------------------* UTILS *--------------------------- */
body * {
    border: 1px dotted red;
}